.presentation {
  height: 80vh;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.presentation img {
  max-height: 500px;
  max-width: 500px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #eee;
}
.main-content h2 {
  margin-bottom: 20px;
}

.main-content p {
  text-align: center;
  max-width: 700px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 5px 10px #ccc;
  margin-top: 50px;
  min-width: 700px;
}

.form h3 {
  margin-bottom: 30px;
}

.form input {
  width: 500px;
  display: block;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin: 10px 0;
}

.form button:hover {
  cursor: pointer;
}

.form button.load-btn:hover {
  cursor: no-drop;
}

.form button.load-btn {
  background-color: #ddd;
}

.form p.validate-message {
  color: red;
}
