<div class="content">
  <h1>Suas playlists</h1>
  <table class="playlists-table">
    <tr class="table-header">
      <th>Nome</th>
      <th>Tipo</th>
      <th>Temperatura</th>
      <th>Cidade</th>
      <th>Data</th>
      <th>visualizar</th>
      <th>Apagar</th>
    </tr>
    <tr  *ngFor="let playlist of playlists">
      <td>{{ playlist.title }}</td>
      <td>{{ playlist.content[0].type }}</td>
      <td>{{ playlist.content[0].temp.toFixed(2) }}</td>
      <td>{{ playlist.content[0].city }}</td>
      <td>{{ playlist.content[0].date }}</td>
      <td class="green pointer" (click)="viewPlaylist(playlist.title)">Ver playlist</td>
      <td class="danger pointer" (click)="deletePlaylist(playlist.title)">Apagar</td>
    </tr>
  </table>
  <div class="selected-playlist" *ngIf="musics">
    <h3>Playlist - {{ selectedPlaylistTile }}</h3>
    <div class="musics" *ngFor="let music of musics">
      <div class="music-card">
        <img src="{{ music.coverart }}" alt="">
        <span class="artist-name">{{ music.artist }}</span>
        <span>{{ music.title }}</span>
      </div>
    </div>
  </div>
</div>
